.each-product-box {
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-top: 5%;
    background-color: hsl(210, 37%, 93%);
    margin-left: 15px;
    overflow: hidden;
    
}
    .image{
        position: relative;
        width: 80%;
        margin-top: 30px;
    }
    .image:hover{
        transform:  scale(1.3);
    }
    .sup{
        padding: 0px 0px 10px 50px; 
    }
    .sup .title{
        font-size: 22px;
        font-weight: bold;
    }
    .sup .desc{
       line-height: 1.5;
    }
    .sup .price{
        font-weight: bold;
    }
    .sup .btn{
        position: relative;
        left: 200px;
        margin-bottom: 10px;
    }
    .sup .btn a{
      text-decoration: none;   
      color: white;    
      background-color: #40a13d; 
      padding: 10px 20px;
       text-transform: capitalize;
    }
   @media screen and (max-width:991px) {
       .each-product-box{
           width: 100%;
           float: none;
           margin-bottom: 70px;
       }
       .sup{
           padding-left: 110px;
       }
        .image{
            position: relative;
        }
        .image:hover{
            transform:  scale(1.3);
        }


   } 